@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is meant for the assistance of ground transportation logistics companies to make maintaining their fleet easier.</p>
