@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hermes Logistics</h1>
    <p class="lead">Assisting the Trucking Logistics company help maintain their fleet.</p>
</div>


<div class="row">
    <div class="col-md-10">
        <h2>Mission Statement</h2>
        <p>
            To make it as easy as possible for logistics company to maintain their fleet.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Learn more &raquo;</a></p>
    </div>
</div>